.container {
  margin-top: 32px;
  gap: 24px;
  align-items: flex-start;
}

.text {
  &__container {
    gap: 16px;

    > :first-child {
      color: var(--mantine-color-darkSpaceBlue-6);
      font-size: 40px;
      font-weight: 800;
      line-height: 40px;
    }

    > :nth-child(2) {
      color: var(--mantine-color-gunmetal-6);
      font-size: 15px;
      font-weight: 400;
    }
  }
}
