.container {
  flex-direction: column;
  margin-top: 64px;
  gap: 32px;

  @media (min-width: $mantine-breakpoint-xl) {
    flex-direction: row;
    margin-top: 70px;
    gap: 30px;
  }
}

.item {
  &__container {
    gap: 24px;
    flex-wrap: nowrap;

    img {
      width: 100px;
    }

    @media (min-width: $mantine-breakpoint-xl) {
      flex-basis: 350px;
    }
  }

  &__order {
    color: var(--mantine-color-silver-6);
    font-size: rem(32px);
    font-weight: 700;
    line-height: 32px;
  }

  &__title {
    margin-top: 12px;
    margin-bottom: 9px;
    color: var(--mantine-color-darkSpaceBlue-6);
    font-size: rem(18px);
    font-weight: 800;
    line-height: 24px;

    @mixin hover {
      cursor: pointer;
      color: var(--mantine-color-lightVermillion-6);
    }
  }

  &__description {
    color: var(--mantine-color-gunmetal-6);
    font-size: rem(15px);
    line-height: 26px;
  }
}
